.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.24rem 0;
  gap: 1rem;
}

.header img {
  height: 2rem;
}

.header span {
  font-size: 1.2rem;
  font-weight: bold;
}
